extends layout

block content
    div.container.col-sm-12
        div.row
            p
        div.row
            p
        div.row
            p
        div.row
            p
        div.row
            p
        div.row
            p

    div.col-sm-2
    div.container.col-sm-7(style="box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); background-color:white; position:relative; top:60px") 

        div.row
            h2.title Logout

        p(style="margin-left:15px; font-family:'Helvetica'") You have been successfully logged out! Click 
            a(href='/users/login') here 
            | to log back in again.

        br
        br
