    nav(class="navbar navbar-default navbar-fixed-top" role="navigation" )
      div(class="container")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")

        div(id="navbar" class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            li 
              a(href='/') My Tasks
            li 
              a(href='/tasks/pending') Pending Tasks
            li 
              a(href='/tasks/archive') Archive
          ul(class="nav navbar-nav navbar-right")
            li
              a(href='/users/logout') Logout
            
