doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Sign Up
        meta(name="keywords", content="")
        meta(name="description" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

        meta(property="og:title" content="")
        meta(property="og:type" content="website")
        meta(property="og:url" content="")
        meta(property="og:site_name" content="")
        meta(property="og:description" content="")

        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')

        link(rel="stylesheet" href="/stylesheets/main.css")
        link(rel="stylesheet" href="/stylesheets/font-awesome.min.css")
        link(rel="stylesheet" href="/stylesheets/animate.css")
        link(href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet' type='text/css')

        script(src="javascripts/modernizr-2.7.1.js")


    body
        div(class="navbar navbar-inverse navbar-fixed-top")
            div(class="container")
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                div(class="navbar-collapse collapse")
                    ul(class="nav navbar-nav navbar-right")
                        li
                            a.menu(href="/users/login" class="scroll") Login
                        

    header
        div(class="container")
            div(class="row")
                div(class="col-xs-6")
                div(class="col-xs-6 signin text-right navbar-nav")
                    a.no-underline(href="/welcome") Homepage




        div.col-sm-2
        div.container.signupform.col-sm-6(style="background-color:white; box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1); height:60%") 
            div.row
                h2.col-sm-offset-4(style="padding-top:4%; color:black; padding-left:5%") Sign Up
            div.row
                p(style="color:red; font-size:14px; margin-left:24%; margin-right:20%") Oops, there was an error signing up. Please try again.

            p
            form#signupform.form-horizontal.container(method='POST' action='/users/signup' align='center')

                div.form-group
                    div.col-sm-4(style="margin-left:10%")
                        input#first_name.form-control(type='text' name='first_name' placeholder='First name' style="margin-left:-2%" required)

                div.form-group
                    div.col-sm-4(style="margin-left:10%")
                        input#last_name.form-control(type='text' name='last_name' placeholder='Last name' style="margin-left:-2%" required)

                div.form-group
                    div.col-sm-4(style="margin-left:10%")
                        input#email.form-control(type='email' name='email' placeholder='Email address' style="margin-left:-2%" required)

                div.form-group
                    div.col-sm-4(style="margin-left:10%")
                        input#username1.form-control(type='text' name='username' placeholder='Username' style="margin-left:-2%" required)

                div.form-group
                    div.col-sm-4(style="margin-left:10%")
                        input#password1.form-control(type='password' name='password' placeholder='Password' style="margin-left:-2%" required)

                
                div.form-group
                    div.col-sm-4(style="margin-left:9.5%")
                        button#signupbutton.btn.btn-primary.btn-primary-initial(type='submit' style="width:100%") Sign Up

    script 
        include ../public/javascripts/login_button.js


        
