div(class="navbar navbar-inverse navbar-fixed-top")
            div(class="container")
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                div(class="navbar-collapse collapse")
                    ul(class="nav navbar-nav navbar-right")
                        li
                            a(href="#signup" class="scroll" style="color:black") Sign Up
                        li
                            a(href="#" style="color:black") Login